
    <div class="menu_section">
        <ul class="nav side-menu">
            <li>
                <ul class="nav child_menu">
                    <li><a href="/cadastrodepartamento" class="btn btn-primary">Departamentos (Thymeleaf) |</a></li>
                    <li><a href="/cadastrofuncionario" class="btn btn-primary">Funcionários (Jquery + Thymeleaf) | </a></li>
                     <li><a  href="javascript:carregarProjetos();" class="btn btn-primary">Projetos (REST jquery) |</a></li>
                    <li><a class="btn btn-primary" onclick="javascript:relatorio();">Relatórios</a></li>
                </ul>
            </li>
        </ul>
    </div>

