<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Cadastro Simples</title>
<link  rel="stylesheet" href="webjars/bootstrap/4.6.1/css/bootstrap.css"/>

</head>
<body>
    <div class="menu_section">
        <h3>Projeto cadastro Java SpringBoot API Rest com JPA Thymeleaf e PostgresSQL</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/cadastrodepartamento" class="btn btn-primary">Departamentos</a></li>
                    <li><a href="/cadastrofuncionario" class="btn btn-primary">Funcionários</a></li>
                     <li><a  href="/cadastroprojetos/" class="btn btn-primary">Projetos</a></li>
                    <li><a  href="/buscardepartamento/1" class="btn btn-primary">Relatórios</a></li>
                </ul>
            </li>
        </ul>
    </div>
	<div >
	  CONTEÚDO
	</div>
  	
</body>
</html>